.loading-container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#content{
    height: 60vh;
    overflow: auto;
}

table{
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
}

table > tbody > tr > td{
    border-bottom: 1px solid #e3e6f0;
    border-top: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    white-space: nowrap;
    padding-left: 14px;
    padding-right: 14px;
}

table tr > td:first-child{
    left: 0;
    position: sticky;
}

table tr > th:first-child{
    left: 0;
    position: sticky;
}

table > thead{
    top: 0;
    position: sticky;
    background-color: #FFFFFF;
}

table > thead th{
    padding-bottom: 13px;
}

table > tbody > tr > td:last-child{
    border-right: none
}

table > tbody > tr > td:first-child{
    border-right: none
}

table > tbody > #first-row > td{
    border-right: none
}

table > tbody > #first-row > td:first-child{
    border-top: none;
    border-bottom: none;
}

table > tbody > #second-row > td:first-child{
    border-top: none;
}

table > tbody> tr:nth-child(2n + 2) {
    background: #F9FAFE;
}

table > tbody> tr:hover{
    background: #E2E7FE !important;
}

table > tbody td:first-child{
    text-align: start;
    height: 49.564884185791016px;
    width: 300.7671661376953px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding-left: 13.64px;
    padding-right: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    font-weight: 400;
    background: #F9FAFE;
    border-right: 10px solid #FFFFFF !important;
}

table{
    width: 100%;
    font-weight: 700 !important;
}

table > tbody > #components > td{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

table > tbody > #components > td > p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #262840;
    padding-bottom: 30px;
}

table > tbody > #components{
    border-bottom: none !important;
    border-top: 1px solid #262840 !important;
}

table > tbody > #first-component{
    border-top: none !important;
}

table > tbody > #blank-row > td{
    border-bottom: 1px solid #262840 !important;
}

table > thead > tr > th:first-child{
    background-color: #F9FAFE;
    border-right: 10px solid white;
    border-bottom: none;
    border-radius: 10px;
}

#title{
    font-size: 32px !important;
    line-height: 38px;
    margin-bottom: 50px;
    font-weight: 600 !important;
}

@media only screen and (max-width: 1600px) {
    #content{
        height: 54vh;
    }
}
